<div class="shadow-indigo-100 shadow-lg rounded-sm">
  <a
    href="#"
    [routerLink]="['/products', product().id]"
    class="group relative block h-96 overflow-hidden rounded-t-lg bg-gray-100"
  >
    <img
      src="{{ product().image }}"
      loading="lazy"
      alt="{{ product().title }}"
      class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
    />
  </a>

  <div class="rounded-b-lg bg-gray-100 p-4">
    <!-- category -->
    <p class="text-sm text-gray-500 lg:text-base">
      {{ product().category | titlecase }}
    </p>
    <!-- title  -->
    <a
      [routerLink]="['/products', product().id]"
      class="font-bold text-gray-700 transition duration-100 hover:text-gray-500 lg:text-lg"
      >{{ product().title | slice : 0 : 30 }}</a
    >

    <div class="flex justify-between items-center mt-4">
      <span class="font-bold text-indigo-950 lg:text-2xl">{{
        product().price | currency
      }}</span>

      <button
        class="rounded-lg bg-indigo-950 px-4 py-2 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-900 focus-visible:ring active:bg-indigo-900 md:text-base"
        (onclick)="onAddToCart()"
      >
        Add to cart
      </button>
    </div>
  </div>
</div>
